graft src/pyramid_tm
graft tests
graft docs
graft .github

include README.rst
include CHANGES.txt
include LICENSE.txt
include CONTRIBUTORS.txt
include COPYRIGHT.txt
include CHANGES.rst

include setup.cfg pyproject.toml
include .coveragerc .flake8
include tox.ini rtd.txt

recursive-exclude * __pycache__ *.py[cod]
